In [1]:
import pandas as pd
store=pd.read_excel('Store Sales (2).xlsx')
store.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,41057,41059,1.3200,2,5.90,88525,5.76
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,40366,40367,4.5600,4,13.01,88522,11.36
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,40751,40752,-47.6400,7,49.92,88523,46.76
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,40751,40752,-30.5100,7,41.64,88523,39.76
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,40751,40751,998.2023,8,2893.34,88523,1647.92

In [2]:
store.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Cost
195,18900,Low,0.06,6.88,2.00,72,Amanda Hardy Singleton,Express Air,Small Business,Office Supplies,...,Maine,West Scarborough,4070,41133,41140,82.8483,18,240.14,89248,123.84
196,21280,High,0.02,22.84,8.18,73,April Winters,Regular Air,Small Business,Office Supplies,...,Massachusetts,Duxbury,2331,41575,41577,234.6800,22,526.36,89250,502.48
197,18955,Not Specified,0.09,21.78,5.94,74,Mark Manning,Regular Air,Small Business,Office Supplies,...,New Jersey,Iselin,8830,41253,41255,23.0100,7,294.52,89249,152.46
198,21287,Critical,0.06,65.99,8.99,75,Tamara Yates,Express Air,Small Business,Technology,...,New Jersey,Lakewood,8701,41010,41012,17.2530,6,646.68,89247,395.94
199,21288,Critical,0.10,159.99,5.50,76,Glen Weeks,Regular Air,Small Business,Technology,...,New Jersey,Wayne,7470,41010,41011,526.5735,5,1526.30,89247,799.95